@charset "UTF-8";

:root{
    --cor0:rgb(255, 255, 255);
    --cor1:#073d52;
    --cor2:#162028;
    --cor3:#0d1318;
    
}

*{
    padding: 0px;
    margin: 0px;
}


body{
    font-family: tahoma, arial, sans-serif;

}

#principal{
    width: 1024px;
    margin: 20px auto;
}

.header-top{
    height:40px;
    background-image: linear-gradient(to right, var(--cor2), var(--cor1), var(--cor3));
    position: relative;
    /*position relative vai fazer com que o block filho se relacione com o pai*/
    padding-top: 8px;
}

.logotipo{
    margin: 5px 0px 0px 135px;
    
}

.header-nav{
    position: absolute;
    /*Para dar inicio a relação com o bloco pai*/
    top:0;
    right: 0;
    height: 100%;
    
}
.header-nav li{
    list-style: none;
    display: inline-block;
    margin-right:15px;
    padding: 13px;
    
    
}
.header-nav a{
    color: #425564;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    /*Espaçamento entre linhas*/
}

